body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

header {
  text-align: center;
  padding: 40px;
  background: #1f1f1f;
}

.projects {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.project {
  margin-bottom: 60px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
